.animate_text::before {
  content: "Porfo - The Smart Assistant";
  animation-name: animateText;
  animation-duration: 40.5s;
  animation-iteration-count: 1;
  display: block;
}

@keyframes animateText {
  0% {
    opacity: 0;
    transform: translateY(20px);
    content: "Smart AI Assistant";
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
    content: "Smart AI Assistant";
  }
  15% {
    opacity: 0;
    transform: translateY(-20px);
    content: "Smart AI Assistant";
  }
  15.10% {
    opacity: 0;
    transform: translateY(20px);
    content: "Investment Assistance";
  }
  21.00% {
    opacity: 1;
    transform: translateY(0px);
    content: "Investment Assistance";
  }
  28.33% {
    opacity: 0;
    transform: translateY(-20px);
    content: "Investment Assistance";
  }
  28.34% {
    opacity: 0;
    transform: translateY(20px);
    content: "On Chain Search";
  }
  35% {
    opacity: 1;
    transform: translateY(0px);
    content: "On Chain Search";
  }
  42% {
    opacity: 0;
    transform: translateY(-20px);
    content: "On Chain Search";
  }
  42.10% {
    opacity: 0;
    transform: translateY(20px);
    content: "Portfolio Management";
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
    content: "Portfolio Management";
  }
  57% {
    opacity: 0;
    transform: translateY(-20px);
    content: "Portfolio Management";
  }
  57.10% {
    opacity: 0;
    transform: translateY(20px);
    content: "Intent Based Transactions";
  }
  65% {
    opacity: 1;
    transform: translateY(0px);
    content: "Intent Based Transactions";
  }
  72.5% {
    opacity: 0;
    transform: translateY(-20px);
    content: "Intent Based Transactions";
  }
  72.53% {
    opacity: 0;
    transform: translateY(0px);
    content: "Porfo - The Smart Assistant";
  }
  80.33% {
    opacity: 1;
    transform: translateY(0px);
    content: "Porfo - The Smart Assistant";
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    content: "Porfo - The Smart Assistant";
  }
}
